<% article ||= current_article %>

<% content_for :page_class do %>
    content article <%=article.slug%>
<% end %>

<% content_for :header do %>

    <h1>
      <span><%=article.date.strftime("%B #{article.date.day.ordinalize} %Y")%></span>
      <span><%=article.data.title%></span>
    </h1>

    <p><span><% if article.tags.present? %><% article.tags.each do |tag| %><%= link_to tag.capitalize, tag_path(tag) %> <% end %><% end %></span></p>

<% end %>

<% wrap_layout :default do %>

    <div class="body">
      <%=yield%>
    </div>

<% end %>

<% content_for :title do %>
    <%= article.title %>
<% end %>

<% content_for :page_class do "article" end %>
<% content_for :main_class do "article" end %>

<% content_for :description do article.data.description end %>


<% layout = "default" %>
<% layout = "pjax" if request.params["_pjax"] %>
