<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

  <link href="//assets.fearmediocrity.co.uk" rel="dns-prefetch">
  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <link href="//ajax.googleapis.com" rel="dns-prefetch">


  <% title = "#{yield_content(:title) + ' - ' if content_for?(:title)}#{data.site.title}" %>
  <% description = yield_content(:description) || data.site.description %>
  <% keywords = yield_content(:keywords) || data.site.keywords %>
  <% url = "#{data.site.url}#{current_page.url}" %>
  <% image_url = "#{data.site.url}#{yield_content(:image_url)}" if content_for?(:image_url) %>
  <% og_type = yield_content(:og_type) if content_for?(:og_type) %>


  <title><%=title%></title>

  <meta name="description" content="<%=description%>">
  <meta name="keywords" content="<%=keywords%>">
  <meta name="author" content="<%= data.site.author.name %>">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="<%= url %>" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:site" content="@fearmediocrity" />
  <meta name="twitter:creator" content="@fearmediocrity" />
  <meta name="twitter:description" content="<%= description %>" />

  <% if image_url %>
  <meta name="twitter:image:src" content="<%=image_url%>" />
  <% end %>

  <meta property="og:title" content="<%=title%>" />
  <meta property="og:description" content="<%=description%>" />
  <meta property="og:type" content="<%= og_type || "website"%>" />
  <meta property="og:url" content="<%=url%>" />
  <meta property="og:site_name" content="James Pearson's Blog and Portfolio" />

  <% if image_url %>
  <meta property="og:image" content="<%=image_url%>" />
  <% end %>

  <%= feed_tag :atom, "/feed.xml", :title => "All" %>

  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="James Pearson">

  <meta name="msapplication-square70x70logo" content="/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="/widetile.png" />
  <meta name="msapplication-square310x310logo" content="/largetile.png" />

  <%= partial :critical_css %>


</head>
<body class="<%= content_for?(:page_class) ? yield_content(:page_class) : page_classes %>">

    <header>
        <a class="home icon-home" href="/" title="Return to James Pearson's homepage">Home</a>
        <%= yield_content :header %>
    </header>

    <%=partial :available if data.site.available %>

    <%= yield %>

    <footer>

      <header>
        <h3>Contact</h3>
      </header>

      <p>Do you have a project you'd like to talk about? Use the form below to get in touch with your projects, questions or just to say hello.</p>

      <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://thinkingincode.wufoo.com/forms/zrjvnsh0chq19z/#public">
        <input type="hidden" id="idstamp" name="idstamp" value="sUMloQxdU6MSpu08ckVQFkElH7Ph+vUGxS9dUTkS+HM=" />
          <div>
            <label>Name</label>
            <input type="email" id="Field7" name="Field7" spellcheck="false" tabindex="1" required placeholder="Your name" />

            <label>Email</label>
            <input type="email" id="Field3" name="Field3" spellcheck="false" tabindex="2" required placeholder="Your email address"/>
          </div>

          <div>
            <label>Message</label>
            <textarea id="Field4" name="Field4" spellcheck="true" tabindex="3" required placeholder="Your message"></textarea>

            <input type="submit" value="Send Message" id="saveForm" name="saveForm" tabindex="4" />
          </div>

      </form>

      <%= partial :social %>
    </footer>

    <script>
        var cb = function() {
            var l = document.createElement('link'); l.rel = 'stylesheet';
            l.href = '/css/main.css';
            var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(cb);
        else window.addEventListener('load', cb);
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>

    <%=javascript_include_tag "main" %>

    <% if data.site.google_analytics_tracking_id %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','/js/vendor/google-analytics.js','ga');

        ga('create',
                '<%= data.site.google_analytics_tracking_id %>',
                '<%= data.site.google_analytics_domain %>');
        ga('send', 'pageview');
    </script>
    <% end %>
</body>
</html>
