<% article = current_article %>

<% content_for :title do %><%=article.data.title%><% end %>
<% content_for :description do %><%=article.data.title%><% end %>

<% content_for :keywords do %><%=article.data.keywords%><% end %>
<% content_for :image_url do %>/img/<%=article.slug%>/open-graph.jpg<% end %>

<% content_for :og_type do %>article<% end %>


<% content_for :page_class do %>
    content work <%=article.slug%>
<% end %>

<% content_for :header do %>

    <h1>
        <span><%=article.data.client%></span>
        <span><%=article.data.work_title%></span>
    </h1>

    <p>whilst working with <a href="http://somewhat.cc" rel="nofollow">Somewhat</a></p>

<% end %>


<% wrap_layout :default do %>

    <div class="masthead">

    </div>

    <div class="body">
      <%=yield%>
    </div>


    <% if article.data.gallery %>
    <div class="gallery">

      <h2>Project Gallery</h2>
      <ul>
        <li><a href="#" title>Title 1</a></li>
        <li><a href="#">Title 1</a></li>
        <li><a href="#">Title 1</a></li>
        <li><a href="#">Title 1</a></li>
      </ul>

    </div>
    <% end %>
<% end %>
